@{
    ViewData["Title"] = "About";
}

            <div class="container">
            	<div class="row templatemo_about_wrapper">
                	<div class="col-md-12 gradient">
                    	<div class="templatemo_about">
                    	<div class="templatemo_about_title">WELCOME TO GLOSS!</div>
                        <div class="templatemo_about_subtitle">DUIS SEDDIO SIT AMETIONAL NIBOR</div>
                      <p>This is <span class="bluetext">free website template</span> from <span class="redtext">templatemo</span>. Snec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra.                       </p>
                      <p> Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit.</p>
                      <p>Sed non  mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat, velit mauris egestas quam, ut aliquam massa nisl quis neque. Suspendisse in orci enim. </p>
                      </div>
               	  </div>
                </div>
                <div class="row">                
                      <div class="col-md-12 templatemo_who">
                      		<div class="templatemo_about_title">WHO WE ARE?</div>
                            <div class="templatemo_about_text">
                            	<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Duis sed odio  nec tellus a odio tincidunt asit amet.</p>
                                <div class="templatemo_about_text_image">
                                	<img src="images/templatemo_team01.jpg" alt="templatemo team 1">
                                    <div class="clear"></div>
                                    <div class="name">TRACY</div>
                                    <div class="post">Web Designer</div>
                                </div>
                                <div class="templatemo_about_text_image">
                                	<img src="images/templatemo_team02.jpg" alt="templatemo team 2">
                                    <div class="clear"></div>
                                    <div class="name">JULIA</div>
                                    <div class="post">JS Developer</div>
                                </div>
                                <div class="templatemo_about_text_image">
                                	<img src="images/templatemo_team03.jpg" alt="templatemo team 3">
                                    <div class="clear"></div>
                                    <div class="name">LINDA</div>
                                    <div class="post">Manager</div>
                                </div>
                            </div>
                      </div>
                </div>
                <div class="row gradient">
                	<div class="col-md-4">
                    	<div class="templatemo_bot_box">
                        	<div class="title">ENENAN SOCITUE</div>
                            <div class="subtitle">SIT AMET NIBH VULPUTATE CURSUS</div>
                            <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet.</p>
							<p>Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
                  		</div>
                    </div>
                    <div class="col-md-4">
                    	<div class="templatemo_bot_box">
                        	<div class="title">TELLUSA ODIO ASIT</div>
                            <div class="subtitle">MORBI ACCUMASN IPSUM VALIT</div>
                            <ul>
                              <li>Aenean sollicitudin</li>
                              <li>Lorem quis bibendum auctor</li>
                              <li>Risi elit consequat ipsum</li>
                              <li>Dnec sagittis sem nibhid</li>
                              <li>Duis sed odio sit amet</li>
                              <li>Morbi accumsan consequat</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                    	<div class="templatemo_bot_box">
                        	<div class="title">SAGITTIS SEM NIB</div>
                            <div class="subtitle">DUIS SED ODIO SIT AMET NIBH</div>
                            <ul>
                              <li>Aenean sollicitudin</li>
                              <li>Lorem quis bibendum auctor</li>
                              <li>Risi elit consequat ipsum</li>
                              <li>Dnec sagittis sem nibhid</li>
                              <li>Duis sed odio sit amet</li>
                              <li>Morbi accumsan consequat</li>
                            </ul>
                  		</div>
                    </div>
                </div>
</div>