@{
    ViewData["Title"] = "Contacts";
}

            <div id="menu-4" class="container">
            	<div class="row gradient templatemo_contact_wrapper">
                	<div class="col-md-12">
                    	<div class="templatemo_contact_map">
                    	<div id="templatemo_map"></div>
                        </div>
                    </div>
					<div class="col-md-12">
                        <div class="templatemo_contact_title">CONTACT US</div>
                        <div class="templatemo_contact_subtitle">CRAS INTERDUM ACCUMSAN DIAM</div>
                    </div>
                    <div class="col-md-6">
                    	<div class="templatemo_form">
                    	<form action="#" method="post" id="templatemo-contact">
                        	<input type="text" name="name" id="nametext" class="name" placeholder="NAME">
                          	<input type="text" name="email" id="emailtext" class="email" placeholder="EMAIL">
                          	<textarea name="message" class="message" placeholder="MESSAGE ... " id="message"></textarea>
                            <button type="submit" class="blue">SEND</button>
                        </form>
                        </div>
                    </div>
                    <div class="col-md-6">
                    	<div class="templatemo_form">
                    	<span class="bluetext">This is free website template from</span><span class="redtext"> templatemo</span>. Ribendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
                        	<ul>
                            	<li><span class="fa fa-map-marker"></span>2100, Aenean sollicitudin, Los Angeles, CA 100200</li>
                                <li><span class="fa fa-phone"></span>010 020 0340, 090 080 0760</li>
                                <li><span class="fa fa-envelope"></span><a href="#">contact@company.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>