@{
    ViewData["Title"] = "Gallery";
}
 <div class="container">
            	<div class="row gradient templatemo_gallery_wrapper">
                	<div class="col-sm-4">
                    	<div class="templatemo_gallery">
                        	<div class="gallery-item">
							<img src="~/images/gallery/1.jpg" alt="gallery 1">
							<div class="overlay">
								<a href="~/images/gallery/1.jpg" data-rel="lightbox" class="fa fa-search"></a>
							</div>
						</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="templatemo_gallery">
                        	<div class="gallery-item">
							<img src="~/images/gallery/2.jpg" alt="gallery 2">
							<div class="overlay">
								<a href="~/images/gallery/2.jpg" data-rel="lightbox" class="fa fa-search"></a>
							</div>
						</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="templatemo_gallery">
                        	<div class="gallery-item">
							<img src="~/images/gallery/3.jpg" alt="gallery 3">
							<div class="overlay">
								<a href="~/images/gallery/3.jpg" data-rel="lightbox" class="fa fa-search"></a>
							</div>
						</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="templatemo_gallery">
                        	<div class="gallery-item">
							<img src="~/images/gallery/4.jpg" alt="gallery 4">
							<div class="overlay">
								<a href="~/images/gallery/4.jpg" data-rel="lightbox" class="fa fa-search"></a>
							</div>
						</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="templatemo_gallery">
                        	<div class="gallery-item">
							<img src="~/images/gallery/5.jpg" alt="gallery 5">
							<div class="overlay">
								<a href="~/images/gallery/5.jpg" data-rel="lightbox" class="fa fa-search"></a>
							</div>
						</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="templatemo_gallery">
                        	<div class="gallery-item">
							<img src="~/images/gallery/6.jpg" alt="gallery 6">
							<div class="overlay">
								<a href="~/images/gallery/6.jpg" data-rel="lightbox" class="fa fa-search"></a>
							</div>
						</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="templatemo_gallery">
                        	<div class="gallery-item">
							<img src="~/images/gallery/7.jpg" alt="gallery 7">
							<div class="overlay">
								<a href="~/images/gallery/7.jpg" data-rel="lightbox" class="fa fa-search"></a>
							</div>
						</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="templatemo_gallery">
                        	<div class="gallery-item">
							<img src="~/images/gallery/8.jpg" alt="gallery 8">
							<div class="overlay">
								<a href="~/images/gallery/8.jpg" data-rel="lightbox" class="fa fa-search"></a>
							</div>
						</div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    	<div class="templatemo_gallery">
                        	<div class="gallery-item">
							<img src="~/images/gallery/9.jpg" alt="gallery 9">
							<div class="overlay">
								<a href="~/images/gallery/9.jpg" data-rel="lightbox" class="fa fa-search"></a>
							</div>
						</div>
                        </div>
                    </div>
                    <a href="#"><div class="templatemo_viewmore blue">VIEW MORE</div></a>
              </div>
            </div>