@{
    ViewData["Title"] = "Home Page";
}

        <!-- home start -->
        <div class="row">
        <div class="templatemo_homewrapper shadow">
        	<div class="templatemo_hometop_bg">
            	<div class="col-md-6">
            	<div class="templemo_hometop_img"><img src="images/templatemo_building.png" alt="templatemo home image"></div>
            </div>
            <div class="col-md-6">
            	<div class="templatemo_hometop_title">AENEAN SOLICIT</div>
                <div class="templatemo_hometop_subtitle">DUIS SEDDIO SIT AMETIONAL</div>
                <p>Duis at lectus non neque ultrices porttitor. Cras ipsum sem, iaculis ut, sodales ut, accumsan lacinia, nunc.Duis at lectus non neque ultrices porttitor. Cras ipsum sem, iaculis ut, sodales ut, accumsan lacinia, nunc.Duis at lectus non neque ultrices porttitor. Cras ipsum sem, iaculis ut, sodales ut, accumsan lacinia, nunc.Duis at lectus non neque ultrices porttitor. Cras ipsum sem, iaculis ut, sodales ut, accumsan lacinia, nunc.Duis at lectus non neque ultrices porttitor. Cras ipsum sem, iaculis ut, sodales ut, accumsan lacinia, nunc.
                </p>
                  <a href="#"><div class="templatemo_hometop_more blue">READ MORE</div></a>
            </div>
            <div class="clear"></div>
            </div>       		
        </div>
        </div>
        <div class="clear"></div>
        <div class="row">
        	<div class="templatemo_home_mid shadow">
        	<div class="col-md-4 templatemo_box gradient">
            	<div class="boxsub1">
                	<div class="boxsub2"><img src="images/templatemo_icon_watch.png" alt="templatemo watch">
	             <div class="templatemo_home_midheader">MORBI ACCUM</div>
                 <div class="templatemo_home_midtext">Donec leo sem, commodo in, bibendum iaculis, euismod vitae, risus. Suspendisse a erat id urna dapibus varius. </div>
                 <a href="#"><div class="templatemo_readmore gradient">READ MORE</div></a>
               	  </div>
                </div>
            </div>
           	<div class="col-md-4 templatemo_box gradient">
            	<div class="boxsub1">
                	<div class="boxsub2">
                    <img src="images/templatemo_icon_bay.png" alt="templatemo bay">
                     <div class="templatemo_home_midheader">LOREM IPSUM</div>
                     <div class="templatemo_home_midtext">Pellentesque enim nibh, volutpat eu, lobortis eu, tristique quis, est. Aliquam lacinia purus at sem. </div>
                     <a href="#"><div class="templatemo_readmore gradient">READ MORE</div></a>
                  </div>
                 </div>
            </div>
            <div class="col-md-4 templatemo_box_last gradient">
            	<div class="boxsub1">
                <div class="boxsub2">
            	<img src="images/templatemo_icon_search.png" alt="templatemo search">
	             <div class="templatemo_home_midheader">DUIS SEDIO</div>
                 <div class="templatemo_home_midtext">Duis at lectus non neque ultrices porttitor. Cras ipsum sem, iaculis ut, sodales ut, accumsan lacinia, nunc. </div>
                 <a href="#"><div class="templatemo_readmore gradient">READ MORE</div></a>
                 </div>
                 </div>
            </div>
        </div>
        </div>
        <div class="clear"></div>
        <div class="row">
        	<div class="templatemo_home_bot shadow">
            	<div class="col-md-12 gradient padd-top20">
                <div class="col-md-2">
                	<img src="images/templatemo_home_img1.jpg" alt="templatemo home image">
                </div>
                <div class="col-md-4">
                <div class="templatemo_home_botheader">ENEAN SOLCITUD</div>
                <div class="templatemo_home_botsubheader">DUIS SED ODIO SIT AMET NIBH</div>
                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet.
				</div>
                <div class="col-md-2"><img src="images/templatemo_home_img2.jpg" alt="templatemo home image"></div>
                <div class="col-md-4">
                <div class="templatemo_home_botheader">MAURIS LUCTUS</div>
                <div class="templatemo_home_botsubheader">AENEAN ELIT TURPIS</div>
                Praesent nunc tellus, laoreet sit amet, viverra sed, dictum semper, odio. Nunc malesuada. Ut lacinia euismod nunc. Mauris velit. 
				</div>
                <div class="clear"></div>
                <div class="col-md-2">
                	<img src="images/templatemo_home_img3.jpg" alt="templatemo home image">
                </div>
                <div class="col-md-4">
                <div class="templatemo_home_botheader">AENEAN SAPINE</div>
                <div class="templatemo_home_botsubheader">DUIS SED ODIO SIT AMET NIBH</div>
                Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet.
				</div>
                <div class="col-md-2"><img src="images/templatemo_home_img4.jpg" alt="templatemo home image"></div>
                <div class="col-md-4">
                <div class="templatemo_home_botheader">VESTIBULUM ANTE IPSUM</div>
                <div class="templatemo_home_botsubheader">AENEAN ELIT TURPIS</div>
                Praesent nunc tellus, laoreet sit amet, viverra sed, dictum semper, odio. Nunc malesuada. Ut lacinia euismod nunc. Mauris velit. 
				</div>
                </div>
            </div>
        </div>